<% wrap_layout :layout do %>
	<div class="page inner">
	<!-- background color -->
	<div class="page-background"></div>

	<div class="container">
		<div class="row">

			<div class="sidebar span3">
				<!-- side nav -->
				<aside class="sidebar-nav">

					<!-- page title -->
					<h1 class="all-caps">Blog Post</h1>
					<%= partial "sidebar_blog" %>
				</aside> <!-- /.sidebar -->
			</div> <!-- /.sidebar -->

			<div class="Modules blog-post page-contents span9 offset3">
				<!-- start page content -->
				<div class="row">
					<div class="span8 offset1">
						<article>
							<div class="meta">
								<span class="meta date">
									<%= current_article.date.strftime('%b %e %Y') %>
								</span>
								<% if current_article.data.author %>
									by <a href="<%= current_article.data.author_url %>"><%= current_article.data.author %></a>
							<% end %>
							</div>
							<h2><%= current_article.title %></h2>
							<div class="row">
								<div class="span7">
									<%= yield %>
								</div>
							</div>
						</article>
					</div> <!-- /span -->
				</div> <!-- /row -->
				<!-- end page content -->
			</div> <!-- /.span8 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.page.inner -->
<% end %>
