<!DOCTYPE html>
<html>
	<head>
		<title><%= current_page.data.page_title ? "#{current_page.data.page_title} - " : "" %>Vagrant</title>

		<!-- meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- favicon -->
		<link rel="shortcut icon" href="favicon.ico">

		<!-- lib styles -->
		<%= stylesheet_link_tag "bootstrap", "vagrantup" %>

		<!-- lib js -->
		<%= javascript_include_tag "jquery" %>
		<%= javascript_include_tag "modernizr" %>
		<%= javascript_include_tag "bootstrap.min" %>
		<%= javascript_include_tag "backstretch" %>
		<%= javascript_include_tag "vagrantup" %>

		<!-- fonts -->
		<link href='//fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300,600' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="//use.typekit.net/xfs6zus.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<!-- Blog -->
		<link rel="alternate" type="application/rss+xml" title="Vagrant Blog Feed" href="https://feeds.feedburner.com/vagrantup">
	 </head>
	 <body>

		 <!-- wrap everything -->
		 <div class="wrapper">

			<!-- nav -->
      <div id="header" class="navigation">
  			<div class="container-fluid">
  			 <!-- vagrant logo -->
         <div class="navbar-header">
            <div class="navbar-brand">
    			    <a class="logo" href="/">Vagrant</a>
              <a class="by-hashicorp" href="https://hashicorp.com/"><span class="svg-wrap">by</span><%= partial "layouts/svg/svg-by-hashicorp" %><%= partial "layouts/svg/svg-hashicorp-logo" %>Hashicorp</a>
            </div>
            <button class="navbar-toggle" type="button">
  						<span class="bar"></span>
  						<span class="bar"></span>
  						<span class="bar"></span>
  					</button>
          </div>
          <div class="buttons hidden-xs">
  					<nav class="navigation-links" role="navigation">
              <ul class="main-links nav navbar-nav">
                <li class="pill"><a href="/vmware">VMware Integration</a></li>
                <li><a href="/downloads.html">Downloads</a></li>
                <li><a href="https://docs.vagrantup.com/">Documentation</a></li>
                <li><a href="/blog.html">Blog</a></li>
                <li><a href="/about.html">About</a></li>
              </ul>
  					</nav>
  				</div>
  			 </div>
      </div>

       <%= partial "layouts/mobile_nav" %>

			 <%= yield %>

			 <!-- footer -->
			 <footer>
			 <div class="container">
				 <div class="row">
					 <div class="span12">

						 <ul class="unstyled footer-nav">
							 <li><a href="https://docs.vagrantup.com/">Documentation</a></li>
							 <li><a href="/about.html">About</a></li>
							 <li><a href="/support.html">Support</a></li>
							 <a href="/downloads.html">
								 <li class="button inline-button">Download</li>
							 </a>
						 </ul>

						 <ul class="unstyled logos">
							 <a href="http://www.vagrantup.com">
								 <li class="vagrant-logo-monochrome"></li>
							 </a>
							 <li><span>by</span></li>
							 <a href="http://www.hashicorp.com">
								 <li class="hashi-logo-monochrome "></li>
							 </a>
						 </ul> <!-- /span -->

					 </div> <!-- /span -->
				 </div> <!-- /row -->

				 <div class="row">
					 <h6 class="legal">
						 Copyright &copy; <%= Time.now.year %> HashiCorp
					 </h6>
				 </div> <!-- row -->
			 </div> <!-- container -->
			 </footer>

			 <!-- close .wrapper -->
		 </div>

     <%= javascript_include_tag "lib/Base" %>
     <%= javascript_include_tag "Sidebar" %>

		 <!-- load scripts -->
		 <!-- load full-width image into any div with class="big-background -->
		 <script>
			$(".big-background").backstretch("assets/photos/full_width.jpg");

  	  new Sidebar();
		 </script>

		 <!-- Google analytics -->
		 <script type="text/javascript">

		 	var _gaq = _gaq || [];
		 	_gaq.push(['_setAccount', 'UA-15091924-1']);
		 	_gaq.push(['_trackPageview']);

		 	(function() {
		 	 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		 	 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		 	 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		 	 })();

		  </script>

		 <!-- AdRoll -->
		 <script type="text/javascript">
		 adroll_adv_id = "6QAAFJDIWBG3DJBDRJ7BEX";
		 adroll_pix_id = "PYT5HSNKNRDS7LMUR5B6YG";
		 (function () {
		 var oldonload = window.onload;
		 window.onload = function(){
		    __adroll_loaded=true;
		    var scr = document.createElement("script");
		    var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
		    scr.setAttribute('async', 'true');
		    scr.type = "text/javascript";
		    scr.src = host + "/j/roundtrip.js";
		    ((document.getElementsByTagName('head') || [null])[0] ||
		     document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
		    if(oldonload){oldonload()}};
		 }());
		 </script>
	 </body>
 </html>
