---
description: |-
  Vagrant enables users to create and configure lightweight, reproducible, and
  portable development environments.
---

<header>
  <div class="container hero">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <%= inline_svg "logo-hashicorp.svg", height: 120, class: "logo" %>

        <h1>Development Environments Made Easy</h1>

        <a class="button primary" href="/intro/index.html">Get Started</a>
        <a class="button" href="/downloads.html">Download <%= latest_version %></a>
        <a class="button" href="https://app.vagrantup.com/boxes/search" target="_TOP">Find Boxes</a>
      </div>
    </div>
  </div>
</header>

<section id="simple" class="marketing blue">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="callout">Unified Workflow</span>
        <h2>Simple and Powerful</h2>
        <p>
          Vagrant provides the same, easy workflow regardless of your role as
          a developer, operator, or designer. It leverages a declarative
          configuration file which describes all your software requirements,
          packages, operating system configuration, users, and more.
        </p>
      </div>
      <div class="col-md-6">
        <div class="terminal">
          <span class="circle"></span>
          <span class="circle"></span>
          <span class="circle"></span>
          <div class="terminal-content">
            <span class="command">$ vagrant init hashicorp/precise64</span>
            <span>&nbsp;</span>
            <span class="command">$ vagrant up</span>
            <span>Bringing machine 'default' up with 'virtualbox' provider...</span>
            <span>==> default: Importing base box 'hashicorp/precise64'...</span>
            <span>==> default: Forwarding ports...</span>
            <span>    default: 22 (guest) => 2222 (host) (adapter 1)</span>
            <span>==> default: Waiting for machine to boot...</span>
            <span>&nbsp;</span>
            <span class="command">$ vagrant ssh</span>
            <span>vagrant@precise64:~$ _</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="parity" class="marketing">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="parity-image">
          <%= inline_svg "parity.svg" %>
        </div>
      </div>
      <div class="col-md-6">
        <span class="callout">Enforce Consistency</span>
        <h2>Production Parity</h2>
        <p>
          The cost of fixing a bug exponentially increases the closer it gets to
          production. Vagrant aims to mirror production environments by
          providing the same operating system, packages, users, and
          configurations, all while giving users the flexibility to use their
          favorite editor, IDE, and browser. Vagrant also integrates with your
          existing configuration management tooling like Chef, Puppet, Ansible,
          or Salt, so you can use the same scripts to configure Vagrant as
          production.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="cross" class="marketing blue-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="callout">Cross-Platform</span>
        <h2>Works where you work</h2>
        <p>
          Vagrant works on Mac, Linux, Windows, and more. Remote development
          environments force users to give up their favorite editors and
          programs. Vagrant works on your local system with the tools you're
          already familiar with. Easily code in your favorite text editor, edit
          images in your favorite manipulation program, and debug using your
          favorite tools, all from the comfort of your local laptop.
        </p>
      </div>
      <div class="col-md-6">
        <div class="systems">
          <%= inline_svg "systems/apple.svg" %>
          <%= inline_svg "systems/linux.svg" %>
          <%= inline_svg "systems/windows.svg" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="trusted" class="marketing black">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <span class="callout">Trusted at Scale</span>
        <h2>Trusted By</h2>
        <p>
          Vagrant is trusted by thousands of developers, operators, and
          designers everyday. Here are just a few of the organizations that
          choose Vagrant to automate their development environments, in
          lightweight and reproducible ways.
        </p>
        <p class="logos">
          <%= image_tag "customers.png", alt: "customers" %>
        </p>
      </div>
    </div>
  </div>
</section>
