<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("vmware-reseller") %>>
        <a href="/vmware/reseller.html">Reselling</a>
      </li>
      <li<%= sidebar_current("vmware-eula") %>>
        <a href="/vmware/eula.html">EULA</a>
      </li>
      <li<%= sidebar_current("vmware-privacy-policy") %>>
        <a href="/vmware/privacy-policy.html">Privacy Policy</a>
      </li>
      <li<%= sidebar_current("vmware-tos") %>>
        <a href="/vmware/terms-of-service.html">Terms of Service</a>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
