---
layout: "inner"
sidebar_current: "blog"
sidebar_template: "blog"
sidebar_title: "Blog"
page_title: "Blog"
---

<div class="Modules blog-landing">
<% blog.articles.take(5).each_index do |i| %>
<% article = blog.articles[i] %>
<div class="row">
	<div class="span8">
		<article>
		<div class="meta">
			<span class="meta date">
				<%= article.date.strftime('%b %e %Y') %>
			</span>
			<% if article.data.author %>
				by <a href="<%= article.data.author_url %>"><%= article.data.author %></a>
			<% end %>
		</div>
		<h2><a href="<%= article.url %>"><%= article.title %></a></h2>
		<div class="row">
			<div class="span7"><p><%= article.summary %></p></div>
		</div>
		<a class="read-more" href="<%= article.url %>">read more</a>
		</article>
	</div>
</div>	<!-- row -->
<% end %>

</div> <!-- blog landing -->
