---
layout: "inner"
sidebar_current: "downloads"
sidebar_template: "downloads"
sidebar_title: "Download"
page_title: "Download Old Vagrant Version"
---

<h2>Old Vagrant Version: <%= version %></h2>

<div class="alert alert-block alert-info">
This is the downloads page for an <em>old</em> version of Vagrant.
The latest version of Vagrant can always be found on the
<a href="/downloads.html">main downloads page</a>.
</div>

<div class="downloads">
<div class="description">
<p>
You can find the SHA256 checksums for this version of Vagrant
<a href="https://dl.bintray.com/mitchellh/vagrant/<%= version %>_SHA256SUMS?direct">here</a>.
</p>
</div>

<% $vagrant_os_order.each do |os| %>
	<% downloads = $vagrant_downloads[version] %>
	<% if downloads[os] && !downloads[os].empty? %>
	<div class="row">
	<div class="span8 download">
		<div class="icon pull-left"><%= image_tag "/images/icons/icon_#{os}.png" %></div>
		<div class="details">
			<h2 class="os-name"><%= download_os_human(os) %></h2>
			<ul>
				<% downloads[os].each do |file| %>
					<li><a href="<%= download_url(file) %>"><%= download_arch(file) %></a></li>
			<% end %>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
	</div>
	<% end %>
<% end %>

	<div class="poweredby">
		<a href='http://www.bintray.com'>
			<img src='http://www.bintray.com/docs/images/poweredByBintray_ColorTransparent.png'>
		</a>
	</div>
</div>

